.ticket-list {
  display: flex;
  flex-wrap: wrap;
  background: #cccccc59;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;

  &__container {
    height: calc(100vh - 71px);
  }

  &__search {
    display: flex;
    background: #cccccc59;
    height: 71px;
  }
}