.ticket {
  width: 250px;
  background: white;
  color: black;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 15px;
  cursor: pointer;

  &:hover > div {
    display: flex;
  }

  &__client-name {
    font-size: 20px;
    font-weight: bold;
    color: #2b4fa0;
  }

  &__element {
    padding: 0 10px;
    margin: 5px 0;
  }

  &__organization-inn {
    color: gray;
  }

  &__status {
    display: none;
    flex-wrap: wrap;

    &-element {
      background: #beafe094;
      padding: 4px 7px;
      border-radius: 20px;
      margin-right: 5px;
      margin-bottom: 3px;
    }
  }

  &__organization-supervisor {
    display: none;
    font-weight: 500;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #767f9421;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    color: gray;
  }
}